#container{
	background-color:red;
	display:flex;
	justify-content:center;
}
.ctrl{
	width:120px;
	
}
#category{
	width:200px;
}
#photo{
	width:120px;
}
.box{
    display:flex;
	background-color:yellow;
	width:340px;
	padding:10px;
}
#slider{
	width:120px;
	padding:10px;
	background-color:blue;
}